/* global style */
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

html {
    font-size: 25px;
}

/* body */

/* style header */

/* style block 1 */

/* style footer */